{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <h1>VRT Lite</h1>
        <p>Vrtlite is een tekst-only versie van vrt.be/vrtnws. Geen foto's, video's, liveblogs, scripts, trackers en cookies.</p>
        <p>Vermeldingen van vaste programma's zoals Het Journaal, Het Weer, De Afspraak, De Zevende Dag en Terzake worden gefilterd.</p>
        <p>De code is <a href="https://github.com/dreadnip/vrtlite">open-source</a>. Vragen of bugs -> <a href="https://github.com/dreadnip/vrtlite/issues">maak een issue aan</a>.</p>
        <p>Gebaseerd op <a href="https://noslite.nl/">noslite</a>. In leven geroepen vanwege het feit dat de website van VRT NWS 151 requests uitvoert en 9.6MB aan data nodig heeft om het nieuws weer te geven, wat op een trage 3G verbinding tot 60 seconden kan duren.</p>
        <p>Zonder de <a href="https://www.vrt.be/vrtnws/nl/services/rss/">RSS feeds</a> van NWS was dit niet mogelijk, waarvoor dank. Om de gebruiksvoorwaarden te volgen geven we op elke pagina een link naar de bron weer.</p>
    </main>
    <footer>
        <a href="{{ path('home') }}">Terug</a>
    </footer>
{% endblock %}