{% extends 'base.html.twig' %}

{% block content %}
    <main>
        <h1>{{ article.title }}</h1>
        {{ article.content|raw }}
    </main>
    <footer>
        Laatste update: {{ article.updated }}. <a href="{{ article.link }}" target="_blank">Bron</a>
    </footer>
{% endblock %}