<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VRT lite</title>
    <meta name="description" content="VRT Nieuws text only">
    <meta name="author" content="Sander De la Marche">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
        }

        /*
         * Variables
         */

        :root {
            --mine-shaft: #212121;
            --screamin: #5dfc71;

            --color-text: var(--mine-shaft);
            --color-accent: var(--screamin);

            --breathe: 2rem;
            --half: calc(var(--breathe) / 2);
            --font-size: 1.25rem;
        }

        /*
         * Body & typo settings
         */

        body {
            font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
            font-size: var(--font-size);
            color: var(--color-text);
            overflow-y: scroll;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            max-width: 55rem;
            padding: var(--breathe);
        }

        h1, h2, h3, h4, h5, h6 {
            line-height: 1;
        }

        ul {
            list-style: none;
        }

        ol {
            margin-left: var(--breathe);
        }

        main > * + * {
            margin-top: var(--breathe);
        }

        .headlines li + li {
            margin-top: var(--half);
        }

        blockquote {
            border-left: solid 5px var(--color-accent);
            padding-left: var(--half);
        }

        footer {
            border-top: solid 5px var(--color-accent);
            margin-top: var(--breathe);
            padding-top: var(--breathe);
        }

        /*
         * Mobile
         */

        @media(max-width:40rem) {

            body {
                font-size: 1rem;
                padding: 1rem;
            }

        }
    </style>
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>
